@charset "utf-8";

/*초기화*/
html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
body{font-family: "맑은 고딕", "돋움", sans-serif; color: #000000;}
img{border: 0;}
ul, ol, li{list-style: none;}
a{text-decoration: none; color: #000000;}
h1, h2, h3, h4, h5, h6{font-size: 16px; font-weight: normal;}
h1 span{display: none;}
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}
.bg_width{width: 100%;}
.cont_width{width: 1420px; margin: 0 auto;}
.balloon{position: absolute; z-index: 1000; padding: 5px 8px; background: #fdfdfd; color: #333333; font-size: 15px; line-height: 20px; white-space: -1px; border: 1px solid #ecdeff; border-radius: 3px; display: none;}
.balloon:after{content: ''; display: block; float: left; width: 20px; height: 20px; margin-right: 5px; background: url(../images/tooltip_icon.png) no-repeat 0 0;}


/*quick_menu*/
.quick_menu_bg{position: relative;}
.quick_menu_wrap{position: absolute; top: 150px; right: -180px; z-index: 50;}
.quick_menu_wrap a{display: block; color: #333333; font-size: 14px; text-align: center;}
.quick_menu_wrap img{display: block; width: 30px; margin: 0 auto 10px; }
.q_menu_list{width: 100px; padding: 2px 0;/* padding-bottom: 10; */ background: #fdfdfd; border: 1px solid #dddddd; border-radius: 20px;}
.q_menu_list li{height: 63px; padding: 20px 10px;}
.q_menu_list li.q_menu_border{border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;}
.q_menu_list li a{font-size: 1em; font-weight: 500; letter-spacing: -0.6px;}
.q_menu_list li a span{display: block; width: 80px; height: 34px; margin-bottom: 10px; background: url(../images/quick_icons.png) no-repeat center top; background-size: 40px;}
.q_menu_list li.heart_icon a span{background-position: center -35px;}
.q_menu_list li.qa_icon a span{background-position: center -69px;}
.q_menu_list li.download_icon a span{background-position: center -104px;}
.q_menu_list li.robotic_icon a span{background-position: center -139px;}

.quick_menu_wrap .quick_txt{padding: 20px 10px 28px 10px; background: #fdfdfd; border: 1px solid #dddddd; border-radius: 20px; display: none;}
.quick_menu_wrap .q_toggle{position: absolute; bottom: -20px; left: 50%; z-index: 53; width: 40px; height: 40px; margin-left: -20px; background: url(../images/quick_up_bk02.png) no-repeat; background-size: 40px; cursor: pointer;}

.top_btn{position: fixed; bottom: 50px; right: 50px;}

/*header*/
#header{position: relative; height: 90px; background: #ffffff; z-index: 999;}
#header .header_wrap{position: fixed; background: #ffffff; border-bottom: 1px solid #dddddd;}
#header .header_wrap .header_conts{}
/*logo*/
h1#logo{/* margin-right: 170px;  */padding: 24px 0;}
#logo a{display: block; width: 174px; height: 40px; background: url(../images/header_ui_icon.png) no-repeat 0 0;}
/*1depth mneu*/
nav#menu{padding-left: 262px;}
#menu>ul>li{margin-right: 15px; line-height: 40px;}
#menu>ul>li.last{margin-right: 0;}
#menu>ul>li>a{display: block; padding: 24px 20px; font-size: 18px; font-weight: 600; letter-spacing: -.4px; color: #333333;}
#menu>ul>li:hover a{color: #7c40ce;}
/*header 2depth menu*/
#menu ul .menu_inner_bg{position: absolute; top: 90px; left: 0; width: 100%; display: none; background: #ffffff; border-bottom: 1px solid #dddddd;}
/* #menu ul li:hover .menu_inner_bg{display: block;} */
#menu ul .menu_inner_bg .menu_conts{padding: 30px 0; background: #ffffff;}
#menu ul .menu_inner_bg .menu_conts>li{margin-right: 56px;}
#menu ul .menu_inner_bg .menu_conts>.menu_banner{width: 163px; height: 173px;}
#menu ul .menu_inner_bg .menu_conts>li.main_bn_img05{height: 43px;}
#menu .menu_conts .menu_banner a{display: block; width: 163px; border-radius: 10px; text-align: center; opacity: 0.6;}
#menu .menu_conts .menu_banner .menu_bg_text{width: 163px;  color: #222222; font-size: 1.2em; font-weight: bold; letter-spacing: -1.6px; line-height: normal;}
#menu ul .menu_inner_bg .menu_conts>li:last-child{margin-right: 0;}
#menu ul .menu_inner_bg .menu_conts li{line-height: 200%;}
#menu ul .menu_inner_bg .menu_conts a{display: block; font-size: 16px; font-weight: 500; color: #666666; font-weight: 500;}
#menu ul .menu_inner_bg .menu_conts a.t_menu{margin-bottom: 5px; padding-bottom: 5px; font-weight: bold; color: #222222; border-bottom: 1px solid #dddddd;}
#menu ul .menu_inner_bg .menu_conts a:hover{color: #222222;}
#menu ul .menu_inner_bg .menu_conts a.t_menu:hover{color: #7c40ce;}
/*gnb*/
#gnb{float: right;}
#gnb>ul>li{margin-right: 20px; padding: 32px 0;}
#gnb>ul>li:last-child{margin-right: 0;}
#gnb>ul>li>a{display: block; height: 25px; background: url(../images/header_ui_icon.png) no-repeat 0 0;}
#gnb .search_icon>a{width: 23px; background-position: -24px -40px;}
#gnb .user_icon>a{width: 42px; background-position: -46px -40px;}
#gnb .user_icon:hover a{background-position: -87px -40px;}
#gnb .user_icon{position: relative;}
#gnb .user_icon #user_menu{position: absolute; top: 90px; right: -45px; width: 300px; background: #fdfdfd; border: 1px solid #eeeeee; border-radius: 0 0 10px 10px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; display: none;}
#gnb .user_icon:hover #user_menu{display: block;}
#gnb .user_icon #user_menu .login_btns{padding: 24px 24px; border-bottom: 1px solid #eeeeee;}
#gnb .user_icon #user_menu .login_btns li{width: 120px; margin-right: 10px;}
#gnb .user_icon #user_menu .login_btns li.btn{margin-right: 0;}
#gnb .user_icon #user_menu .login_btns li a{display: block; width: 108px; padding: 10px 5px; border: 1px solid #868686; border-radius: 20px; text-align: center;}
#gnb .user_icon #user_menu .login_btns .login_btn a{background: #7c40ce; color: #ffffff; border: 1px solid transparent;}
#gnb .user_icon #user_menu .login_btns .btn a{color: #868686;}
#gnb .user_icon #user_menu .login_btns .login_btn a:hover{background: #5c1db5;}
#gnb .user_icon #user_menu .login_btns .btn a:hover{color: #333333;}
#gnb .user_icon #user_menu .quick_menu li{border-bottom: 1px solid #eeeeee;}
#gnb .user_icon #user_menu .quick_menu li a{display: block; padding: 24px; font-size: 14px; font-weight: 600;}
#gnb .user_icon #user_menu .quick_aside_menu{padding: 24px 0;}
#gnb .user_icon #user_menu .quick_aside_menu li{margin-bottom: 24px;  line-height: 30px;}
#gnb .user_icon #user_menu .quick_aside_menu li.aside_menu_ui03{margin-bottom: 0;}
#gnb .user_icon #user_menu .quick_aside_menu li a{display: block; padding: 0 24px; color: #666666;}
#gnb .user_icon #user_menu .quick_aside_menu li a:hover{color: #222222;}
#gnb .user_icon #user_menu .quick_aside_menu li a:after{content: ''; display: block; float: left; width: 32px; height: 30px; margin-right: 10px; background: url(../images/quick_aside_ui_icon.png) no-repeat -1px -1px;}
#gnb .user_icon #user_menu .quick_aside_menu li.aside_menu_ui01 a:after{background-position: -31px -1px;}
#gnb .user_icon #user_menu .quick_aside_menu li.aside_menu_ui02 a:after{background-position: -62px -1px;}
#gnb .user_icon #user_menu .quick_aside_menu li.aside_menu_ui03 a:after{background-position: 0 -1px;}

#gnb .ham_btn{width: 25px; height: 20px; background: none;}
#gnb .ham_btn .line{display: block; width: 25px; height: 2px; background-color: #333333; margin: 7px auto 0;}
#gnb .ham_btn .line:first-child{margin-top: 2px;}
.menu_all_box .menu_top .ham_close_btn{width: 25px; height: 25px;}
.menu_all_box .menu_top .ham_close_btn .line{display: block; width: 25px; height: 2px; background-color: #333333; margin: 0 auto;}
.menu_all_box .menu_top .ham_close_btn .line:first-child{position: relative; top: 12px; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.menu_all_box .menu_top .ham_close_btn .line:last-child{position: relative; top: 10px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

#gnb .menu_all .menu_all_bg{position: fixed; top: 0; right: 0; z-index: 9999; width: 100%; height: 100%; background: rgba(0,0,0,0.7); overflow-y: hidden; display: none;}
.menu_all_bg .menu_all_box{position: absolute; top: 50%; left: 50%; z-index: 999; width: 1170px; height: 700px; margin: -350px 0 0 -600px; background: #ffffff; border-radius: 15px; overflow: hidden;}
.menu_all_box .menu_top{padding: 15px 25px; border-bottom: 1px solid #cadbec;}
.menu_all_box .menu_top .tit{font-size: 1.3em; font-weight: bold;}
.menu_all_box .menu_conts{height: 640px; overflow-y: scroll;}
.menu_all_box .menu_section{padding: 30px 45px 30px 75px; border-bottom: 1px solid #eee;}
.menu_all_box .menu_section:last-child{border-bottom: none;}
.menu_all_box .menu_section .depth1 a{display: block; font-size: 1.3em; font-weight: 600; letter-spacing: -.4px; line-height: 100%; color: #333333;}
.menu_all_box .menu_section .depth1 a:hover{color: #7c40ce;}
.menu_all_box .menu_section .depth1 a:after{content: '>'; display: block; float: right; margin-left: 5px; line-height: 17px;}
.menu_all_box .menu_section .depth2{width: 850px;}
.menu_all_box .menu_section .depth2>li{margin-left: 45px;}
.menu_all_box .menu_section:first-child .depth2>li{height: 205px;}
.menu_all_box .menu_section:first-child .depth2>li:last-child{height: auto;}
.menu_all_box .menu_section:nth-child(3) .depth2>li{height: 175px;}
.menu_all_box .menu_section:nth-child(3) .depth2>li:nth-child(4){height: auto;}
.menu_all_box .menu_section:nth-child(3) .depth2>li:nth-child(5){height: auto;}
.menu_all_box .menu_section:nth-child(3) .depth2>li:nth-child(6){height: auto;}
.menu_all_box .menu_section:nth-child(4) .depth2>li{height: 195px;}
.menu_all_box .menu_section:nth-child(4) .depth2>li:nth-child(5){height: auto;}
.menu_all_box .menu_section:nth-child(4) .depth2>li:nth-child(6){height: auto;}
.menu_all_box .menu_section .depth2 a{display: block; color: #666666;}
.menu_all_box .menu_section .depth2 .t_menu{margin-bottom: 15px; font-size: 16px; font-weight: 600; color: #333333;}
.menu_all_box .menu_section:last-child .depth2 .t_menu{margin-bottom: 0;}
.menu_all_box .menu_section .depth2 ul li a:after{content: '-'; display: block; float: left; margin-right: 3px;}
.menu_all_box .menu_section .depth2 a:hover{color: #222222;}
.menu_all_box .menu_section .depth2 a.t_menu:hover{color: #7c40ce;}

/*footer*/
#footer{background: #222222;}
#footer .f_menu_wrap{border-bottom: 1px solid #666666;}
#footer .f_menu_wrap .f_menu{line-height: 75px;}
.f_menu_wrap .f_menu li{margin-right: 36px;}
.f_menu_wrap .f_menu li.last{margin-right: 0;}
.f_menu_wrap .f_menu li a{display: block; color: #dddddd; letter-spacing: -0.3px;}
.f_menu_wrap .f_menu li.bold a{color: #ffffff; font-weight: 600;}
#footer .address_conts{padding: 60px 0;}
.address_conts .ad_box_list{margin-bottom: 30px;}
.address_conts .ad_box_list .ad_box{margin-right: 119px;}
.address_conts .ad_box_list address{font-style: normal;}
.address_conts .ad_box_list .sns{margin-right: 0;}
.address_conts .ad_box_list .ad_box p, .awards p{color: #777777; letter-spacing: -0.3px;}
.address_conts .ad_box_list .ad_box p.tit{padding-bottom: 15px; color: #ffffff; font-weight: 600;}
.address_conts .ad_box_list .ad_box p.call_num{padding-bottom: 10px;}
.address_conts .ad_box_list .sns ul li{margin-right: 10px;}
.address_conts .ad_box_list .sns ul li.instagram{margin-right: 0;}
.address_conts .ad_box_list .sns ul li a{display: block; width: 45px; height: 45px; border-radius: 50%; overflow: hidden; background: url(../images/footer_sns_icon2.png) no-repeat 0 0; background-size: 135px;}
.address_conts .ad_box_list .sns ul li.youtube a{background-position: -45px 0;}
.address_conts .ad_box_list .sns ul li.instagram a{background-position: -90px 0;}
.address_conts .ad_box_list .sns ul li.kakao:hover a{background-position: 0 -48px;}
.address_conts .ad_box_list .sns ul li.youtube:hover a{background-position: -45px -48px;}
.address_conts .ad_box_list .sns ul li.instagram:hover a{background-position: -91px -48px;}
#footer .awards .awards_img{width: 50px; height: 50px; background: url(../images/footer_awards_img.png) no-repeat 0 0;}
#footer .awards p{margin-left: 10px; padding: 4px 0;}
#footer .w3c_pass{width: 155px;}
#footer .w3c_pass>div{width: 100%; height: 36px; background: url(../images/w3c_pass_icon.png) no-repeat 0 0;}
#footer .w3c_pass .w3c_html{margin-bottom: 5px;}
#footer .w3c_pass .w3c_css{background-position: 0 -36px;}