@charset "utf-8";

section .cf, footer .address_conts .cf{float: left;}
#time_event .cf{float: none;}
section .sec_title h2:before, .fee_list_wrap .fee_cont_tit h2:before{content: ''; display: none;}

#main_event .event_box{margin-bottom: 25px; margin-right: 20px;}
#main_event .event_box + .event_box + .event_box + .event_box{margin-bottom: 0;}
#main_event .event_box:first-child + .event_box + .event_box, #main_event .event_box:first-child + .event_box + .event_box +.event_box +.event_box + .event_box{margin-right: 0;}
#main_event .event_box:nth-child(3n){margin-right: 0;}
#main_event .event_box a{display: block;}
#main_event .event_box img{display: block; width: 460px; height: 223px;}

.fee_tab_menu_wrap a.moer_btn:after{content: ''; display: none;}
.fee_list_wrap .fee_cont_tit .moer_btn{width: 90px;}
.fee_list_wrap .next_btn{display: none;}

#phone_join .sec_title div a:after, #phone_join .sec_title div a span:after{content: '>'; display: block; float: right; width: 7px; height: 12px; margin: 9px 0 0 5px;}
#point_service .service_list .service_box:first-child + .service_box + .service_box{margin-right: 0;}

.review_list .review_box:first-child{margin-right: 18px;}
.review_list .review_box:first-child + .review_box + .review_box + .review_box{margin-right: 18px;}
.review_cont_box{height: 135px;}
.review_cont_box .review_info_wrap{width: 100%;}
.review_cont_box .review_info_wrap .info_icon div:first-child + div{margin-left: 5px;}