<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/board.css"/>
</head>
<body>
    <th:block layout:fragment="content">
        <section class="board_wrap cont_width">
            <ul class="sub_page_menu cf">
                <li class="first fl"><a href="index" tabindex="118">홈</a></li>
                <li class="fl"><a href="#" tabindex="119">고객지원</a>
                    <ul class="sub_menu">
                        <li><a href="#" tabindex="120">상품</a></li>
                        <li><a href="#" tabindex="121">이벤트/혜택</a></li>
                        <li class="active"><a href="#" tabindex="122">고객지원</a></li>
                        <li><a href="#" tabindex="123">내정보</a></li>
                        <li><a href="#" tabindex="124">유모바일</a></li>
                    </ul>
                </li>
                <li class="last fl"><a href="#" tabindex="125">일반 게시판</a>
                    <ul class="sub_menu">
                        <li class="active"><a href="board" tabindex="126">일반 게시판</a></li>
                        <li><a href="qaboard" tabindex="127">Q&A 게시판</a></li>
                    </ul>
                </li>
            </ul>
            <div id="board_detail" class="board board_view">
                <h2>일반 게시판</h2>
                <div class="board_head cf">
                    <div class="board_tit fl">
                        제목: <span th:text="${board.title}">제목</span>
                    </div>
                    <div class="board_info fr">
                        <p th:text="${board.writer}">작성자</p>
                        <p th:text="${board.regdate}">등록일</p>
                    </div>
                </div>
                <div class="board_cont">
                    <p th:text="${board.content}">내용</p>
                </div>
                <div class="board_bt cf">
                    <div class="btn_wrap cf">
                        <button type="button"th:onclick="|location.href='@{/board}'|" class="fl btn list_btn">목록</button>
                        <button type="button"th:onclick="|location.href='@{/boardUpdate/{boardNo}(boardNo=${board.boardNo})}'|" class="fl btn update_btn">변경</button>
                        <button type="button"th:onclick="|location.href='@{/board/delete(boardNo=${board.boardNo})}'|" class="fl btn remove_btn">삭제</button>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</body>
</html>