@charset "utf-8";

.banner_wrap h2, #time_event h2{display: none;}
section.margin_bt{margin-bottom: 110px;}
section .sec_title{margin-bottom: 35px; line-height: 30px;}
section .sec_title h2, .fee_list_wrap .fee_cont_tit h2{line-height: 100%; letter-spacing: -1px; font-size: 1.9em; font-weight: bold; color: #434343;}
section .sec_title h2:before{content: ''; display: block; float: left; width: 23px; height: 30px; margin: 2px 5px 0; background: url(../images/main_tit5.png) no-repeat -5px -1px; background-size: 28px 30px;}
.fee_list_wrap .fee_cont_tit h2:before{content: ''; display: none;}

/*popup*/
.pop_wrap{/* display: none; */ position: fixed; top: 0; left: 0; z-index: 99999; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6);}
#pop{position: absolute; top: 50%; left: 50%; float: left; width: 880px; height: 595px; margin: -327px 0 0 -480px;}
#pop .pop_all_close{position: absolute; top: -60px; right: 0; display: block; width: 40px; height: 40px; margin: 0 auto 15px; overflow: hidden; background: url(../images/close_icon.png) no-repeat center center; background-size: 20px; color: #ffffff; font-size: 16px; letter-spacing: -1px; line-height: 40px; text-align: center; border: 1px solid #ffffff; border-radius: 25px; text-indent: -110px;}
#pop .pop_all_close:hover{width: 105px; padding-right: 18px; background-position: 93px center; text-indent: 0;}
.pop_list{width: 100%; height: 595px;}
.pop_list a{display: block; width: 420px; height: 525px;}
.pop_list a.box_margin{margin-left: 40px;}
.pop_list a img{display: block; width: 420px; height: 525px; border-radius: 20px 20px 0 0;}
.pop_close_wrap{padding: 23px 20px; background: #000; color: #fff; border-radius: 0 0 20px 20px;}
.pop_close{width: 20px; height: 20px; background: url(../images/close_icon.png) no-repeat center center; background-size: 20px;}
.pop_close span{display: none;}

.popup_wrap  a img{display: block; width: 420px; height: 525px; border-radius: 20px 20px 0 0;}
.popup_wrap .popup_list a.box_margin{margin-left: 0;}
.popup_wrap .popup_close_wrap{padding: 23px 20px; background: #000; color: #fff; border-radius: 0 0 20px 20px;}
.popup_wrap .popup_close{width: 20px; height: 20px; background: url(../images/close_icon.png) no-repeat center center; background-size: 20px;}
.popup_wrap .popup_close span{display: none;}

/*main banner*/
.banner_wrap{position: relative; height: 550px;}
#main_banner{position: relative; height: 550px; overflow: hidden;}
#main_banner .banner_list{position: relative; z-index: 10;}
#main_banner .banner_list .banner_img{position: absolute; top: 0; left: 100%;}
#main_banner .banner_list .bn_img01{left: 0; z-index: 9;}
#main_banner .banner_list .alt{display: none;}
#main_banner .banner_list img{margin-top: -25px;}
#main_banner .banner_buts{position: absolute; bottom: 25px; right: 0; z-index: 11;}
#main_banner .banner_buts>div{margin-left: 5px;}
#main_banner .banner_buts .num_list{height: 40px; padding: 0 20px; line-height: 40px; border-radius: 100px; background: rgba(255, 255, 255, 0.4);}
#main_banner .banner_buts .num_list a{color: #222222; font-size: 14px; line-height: 18px; letter-spacing: -1px;}
#main_banner .banner_buts .num_list span{font-size: 18px;}
#main_banner .banner_buts .num_list .total_num{color: #666666;}
.banner_wrap .banner_bg_list{position: relative; top: -550px; width: 100%; height: 550px;}
.banner_wrap .banner_bg_list ul{position: relative; z-index: 8; height: 100%;}
.banner_wrap .banner_bg_list ul li{position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%;}
.banner_wrap .banner_bg_list ul .bn_bg01{display: block; background: #ffc6c5;}
.banner_wrap .banner_bg_list ul .bn_bg02{background: #fff6b1;}
.banner_wrap .banner_bg_list ul .bn_bg03{background: #ffdd70;}
.banner_wrap .banner_bg_list ul .bn_bg04{background: #d2ccff;}
.banner_wrap .banner_bg_list ul .bn_bg05{background: #aef0ec;}
.banner_wrap .banner_bg_list ul .bn_bg06{background: #655ae4;}


/*main_event_service*/
#main_event_service{}
.event_and_service{position: relative; height: 300px;}
.event_and_service>div{position: relative; width: 705px; height: 100%; overflow: hidden; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
.event_and_service>div .event_tit, .event_and_service>div .service_tit{position: absolute; width: 655px; height: 84%; padding: 25px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
.event_and_service>div .event_tit h2, .event_and_service>div .service_tit h2{margin-bottom: 25px; font-size: 1.6em; font-weight: bold; color: #333333;}
.event_and_service>div .event_tit p, .event_and_service>div .service_tit p{margin-bottom: 50px;}
.event_and_service>div .event_tit a, .event_and_service>div .service_tit a{display: block; width: 95px; padding: 10px; background: #662d91; color: #ffffff; text-align: center; border-radius: 30px;}
.event_and_service>div .event_tit .event_box_bg, .event_and_service>div .service_tit .service_box_bg{position: absolute; top: 50px; right: 25px;}
.event_and_service>div .event_tit img, .event_and_service>div .service_tit img{height: 200px;}
.event_tit_off, .service_tit_off{position: absolute; top: 0; left: 0; z-index: 3; width: 100%; height: 100%; background: #ffffff; display: none;}
.event_tit_off h2, .service_tit_off h2{width: 100%; height: 100%; background: rgba(0,0,0,0.5); color: #ffffff; line-height: 300px; text-align: center; font-size: 1.3em; font-weight: 600;}
.event_box_wrap, .service_box_wrap{background: #f6f6f6;}

.event_and_service .event_wrap{}
.event_and_service .event_wrap .event_tit{top: 0; left: 0; z-index: 2; background: #cec6ff;}
.event_and_service .event_wrap .event_box_wrap{position: absolute; top: 0; right: 0; z-index: 1; width: 705px; height: 100%;}
.event_and_service .event_wrap .event_box_wrap .event_box{position: absolute; right: 0;}
.event_wrap .event_box_wrap .event_box .event_list{width: 875px; height: 260px; padding: 20px 10px;}
.event_wrap .event_box_wrap .event_box .event_list li{width: 269px; height: 100%; padding: 0 10px;}
.event_wrap .event_box_wrap .event_box .event_list li.border{border-left: 1px dashed #666666; border-right: 1px dashed #666666;}
.event_wrap .event_box_wrap .event_box .event_list li .event_img{display: block; width: 180px; height: 180px; margin: 0 auto 15px; background: url(../images/event_box_imgs.png) no-repeat -2px 0;}
.event_wrap .event_box_wrap .event_box .event_list li .img01{}
.event_wrap .event_box_wrap .event_box .event_list li .img02{background-position: -190px 0;}
.event_wrap .event_box_wrap .event_box .event_list li .img03{background-position: -380px 0;}
.event_wrap .event_box_wrap .event_box .event_list li .event_sub_tit{color: #333333; font-size: 1.2em; font-weight: bold; text-align: center; letter-spacing: -1.8px;}
.event_wrap .event_box_wrap .event_box .event_list li .event_sub_tit .price{color: #662d91;}
.event_wrap .event_box_wrap .event_box .event_list li .event_sub_tit .sub_tit{display: block; font-size: 0.9em; font-weight: 500; color: #666666;}

.event_and_service .point_service_wrap{}
.event_and_service .point_service_wrap .service_tit{top: 0; right: 0; z-index: 2; background: #cec6ff;}
.point_service_wrap .service_box_wrap{position: absolute; top: 0; right: 0; z-index: 1; width: 705px; height: 100%;}
.point_service_wrap .service_box_wrap .service_box{position: absolute; left: 0;}
.point_service_wrap .service_box_wrap .service_box .service_list{width: 875px; height: 260px; padding: 20px 10px;}
.point_service_wrap .service_box_wrap .service_box .service_list li{width: 269px; height: 100%; padding: 0 10px;}
.point_service_wrap .service_box_wrap .service_box .service_list li.border{border-left: 1px dashed #666666; border-right: 1px dashed #666666;}
.point_service_wrap .service_box_wrap .service_box .service_list li .service_img{display: block; width: 180px; height: 180px; margin: 0 auto 15px; background: url(../images/service_box_imgs.png) no-repeat 0 0;}
.point_service_wrap .service_box_wrap .service_box .service_list li .img01{}
.point_service_wrap .service_box_wrap .service_box .service_list li .img02{background-position: -190px 0;}
.point_service_wrap .service_box_wrap .service_box .service_list li .img03{background-position: -380px -1px;}
.point_service_wrap .service_box_wrap .service_box .service_list li .service_sub_tit{color: #333333; font-size: 1.2em; font-weight: bold; text-align: center; letter-spacing: -1.8px;}
.point_service_wrap .service_box_wrap .service_box .service_list li .service_sub_tit .price{color: #662d91;}
.point_service_wrap .service_box_wrap .service_box .service_list li .service_sub_tit .sub_tit{display: block; font-size: 0.9em; font-weight: 500; color: #666666;}

/*time event*/
#time_event{height: 260px; background: url(../images/time_event_bg1.png);}
#time_event .time_event_conts{width: 1078px; margin: 0 auto;}
.time_event_conts a{display: block;}
.time_event_conts a>div{padding: 100px 0; margin-right: 25px;}
.time_event_conts div.event_text{margin-right: 0;}
.time_event_conts div.event_img{line-height: 260px; padding: 0;}
.time_event_conts div p{letter-spacing: -1.4px; line-height: normal; color: #222222;}
.time_event_conts div.event_time{font-size: 36px; font-weight: bold; text-align: center;}
.time_event_conts div.event_time .time{margin: 13px 0 5px; color: #662d91; line-height: 100%;}
.time_event_conts div.event_time .time.off{margin-top: -5px;}
.time_event_conts div.event_time .time span.d_day{padding-right: 15px;}
.time_event_conts div.event_time .time span.hour, .time_event_conts div.event_time .time span.minute, .time_event_conts div.event_time .time span.seconds{color: #222222;}
.time_event_conts div.event_time #time_out{padding-top: 5px; color: #666666; font-size: 14px; white-space: -1px;}
.time_event_conts div img{line-height: 260px; vertical-align: middle;}
.time_event_conts .event_text:after{content: ''; display: block; float: left; width: 15px; height: 20px; margin: 20px 0 0 17px; background: url(../images/arrow_right_icon.png) no-repeat -18px center;}
.time_event_conts .event_text p strong{display: block; padding: 2px 0 10px; font-size: 1.2em; font-weight: bold;}

/*best fee*/
.best_fee_wrap{background: #efefef;}
#best_fee{padding: 60px 0;}
#best_fee .fee_tab_menu_wrap{width: 100%; height: 50px; line-height: 50px;}
.fee_tab_menu_wrap .fee_tab_menu{float: left;}
.fee_tab_menu_wrap .fee_tab_menu li{margin-right: 45px;}
.fee_tab_menu_wrap .fee_tab_menu li.last{margin-right: 0;}
.fee_tab_menu_wrap .fee_tab_menu li a{display: block; color: #222222; font-weight: 600; letter-spacing: -1.2px;}
.fee_tab_menu_wrap .fee_tab_menu li.active a{color: #662d91; border-bottom: 1px solid #662d91;}
.fee_tab_menu_wrap a.moer_btn{display: block; color: #666666; font-weight: 600; letter-spacing: -0.3px; }
.fee_tab_menu_wrap a.moer_btn:after{content: ''; display: block; float: right; width: 7px; height: 15px; margin: 18px 0 0 8px; background: url(../images/arrow_right_icon.png) no-repeat 0 0; background-size: 42px;}
#best_fee .fee_list_wrap{position: relative; /* height: 545px;  */margin-top: 60px;}
.fee_list_wrap .fee_cont_tit{position: relative; width: 460px; margin-right: 20px;}
.fee_list_wrap .fee_cont_tit:after{content: ''; position: absolute; right: 15px; top: 0; display: block; width: 126px; height: 136px; margin-right: 20px; background: url(../images/fee_tit_bg.png) no-repeat 0 0;}
.fee_list_wrap .fee_tit_bg02:after{width: 155px; background-position: -126px 0;}
.fee_list_wrap .fee_tit_bg03:after{width: 156px; background-position: -280px 0;}
.fee_list_wrap .fee_tit_bg04:after{width: 156px; background-position: -437px 0;}
.fee_list_wrap .fee_tit_bg05:after{width: 102px; height: 145px; background-position: -593px 0;}
.fee_list_wrap .fee_tit_bg06:after{width: 155px; height: 115px; background-position: -690px 0;}
.fee_list_wrap .fee_cont_tit h2{margin-bottom: 20px; line-height: 120%;}
.fee_list_wrap .fee_cont_tit p{margin-bottom: 45px; color: #555555; font-size: 1em; font-weight: 600; letter-spacing: -1px; line-height: 145%;}
.fee_list_wrap .fee_cont_tit .moer_btn{display: block; width: 88px; height: 23px; padding: 15px 35px; background: #662d91; color: #ffffff; border-radius: 10px; font-size: 1.1em; font-weight: 500; line-height: 23px;}
.fee_list_wrap .fee_box_wrap{position: relative;}
.fee_list_wrap .fee_box{width: 460px; /* height: 385px; */ border-radius: 10px; background: #ffffff;}
.fee_list_wrap .fee_box.last{}
.fee_list_wrap .fee_box a{display: block; padding: 40px;}
.fee_list_wrap .fee_box .fee_box_tit{margin-bottom: 30px; color: #333333; font-size: 1.3em; font-weight: 600;}
.fee_list_wrap .fee_box .fee_plus{margin-bottom: 20px; color: #333333; font-size: 2.3em; font-weight: bold;}
.fee_list_wrap .fee_box .fee_plus span{display: block; padding-top: 5px; color: #666666; font-size: 16px; font-weight: 400;}
.fee_list_wrap .fee_box .fee_basic{margin-bottom: 30px;}
.fee_list_wrap .fee_box .fee_basic p{color: #222222; font-weight: 600; line-height: 165%;}
.fee_list_wrap .fee_box .fee_basic p span{color: #666666; font-weight: 400;}
.fee_list_wrap .fee_box .fee_tip_text{padding: 20px 30px; margin-bottom: 20px; border-radius: 10px; background: #f8f4ff; color: #222222; font-size: 0.9em; font-weight: 500;}
.fee_list_wrap .fee_box .fee_price strong{padding-right: 10px; color: #662d91; font-size: 1.8em; font-weight: bold;}
.fee_list_wrap .fee_box .fee_price span{color: #666666; font-weight: 400; text-decoration: line-through;}
.fee_list_wrap .prev_btn{position: absolute; right: 915px; top: 50%; z-index: 5; width: 50px; height: 50px; border-radius: 50%; background: #808080; cursor: pointer;}
.fee_list_wrap .prev_btn:after{content: ''; display: block; float: left; width: 20px; height: 25px; margin-top: 2px; background: url(../images/arrow_right_icon.png) no-repeat -49px 0; background-size: 65px;}
.fee_list_wrap .next_btn{position: absolute; right: -25px; top: 50%; z-index: 5; width: 50px; height: 50px; border-radius: 50%; background: #808080; cursor: pointer;}
.fee_list_wrap .next_btn:after{content: ''; display: block; float: left; width: 20px; height: 25px; margin: 2px 0 0 6px; background: url(../images/arrow_right_icon.png) no-repeat -28px 0; background-size: 65px;}

/*phone join*/
#phone_join .sec_title div a{display: block; float: left; margin-left: 10px; color: #666666; font-weight: 600; letter-spacing: -1.1px;}
#phone_join .sec_title div span{display: block; float: left; color: #222222; font-weight: 700;}
#phone_join .sec_title div a, #phone_join .sec_title div a span{padding-right: 10px;}
#phone_join .sec_title div a:after, #phone_join .sec_title div a span:after{content: ''; display: block; float: right; width: 7px; height: 15px; margin: 7px 0 0 5px; background: url(../images/arrow_right_icon.png) no-repeat 0 0; background-size: 42px;}
#phone_join .join_conts{width: 100%;}
.join_conts .join_list{position: relative; width: 960px; height: 447px; border-radius: 10px; overflow: hidden;}
.join_conts .join_list .join_box{position: absolute; top: 0; left: 0; width: 100%;}
.join_conts .join_list .join_box img{width: 960px;}
.join_conts .join_list .box2{left: 100%;}
.join_conts .join_list a{display: block;}
.join_conts .join_tab_menu{padding: 57px 60px; border: 1px solid #dfdfdf; border-radius: 10px;}
.join_conts .join_tab_menu li{display: block; margin-bottom: 35px;}
.join_conts .join_tab_menu li:last-child{margin-bottom: 0;}
.join_conts .join_tab_menu li a{display: block; padding-bottom: 10px; color: #666666; font-size: 1.2em; font-weight: 600; border-bottom: 2px solid transparent;}
.join_conts .join_tab_menu li a.active{color: #662d91; border-bottom: 3px solid #662d91;}
.join_conts .join_tab_menu li span{padding-right: 10px;}

/*review*/
#review .sec_title a.moer_btn{display: block; color: #666666; font-weight: 600; letter-spacing: -0.3px;}
#review .sec_title a.moer_btn:after{content: ''; display: block; float: right; width: 7px; height: 15px; margin: 8px 0 0 8px; background: url(../images/arrow_right_icon.png) no-repeat 0 0; background-size: 42px;}
#review .review_list{width: 100%;}
.review_list .review_box{width: 338px; /* height: 475px; */ /* margin-right: 20px; */ border: 1px solid #dfdfdf; border-radius: 10px; overflow: hidden;}
.review_list .review_box:nth-child(1){margin-right: 18px;}
.review_list .review_box:nth-child(4){margin-right: 18px;}
.review_list .review_box a{display: block;}
.review_list .review_box .review_img img{width: 338px; height: 320px;}
.review_list .review_box .review_cont_box{padding: 15px; border-top: 1px solid #dfdfdf;}
.review_cont_box .review_star{padding-bottom: 10px;}
.review_cont_box .review_star img{width: 15px; height: 15px;}
.review_cont_box .review_text{padding-bottom: 5px; color: #222222; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.review_cont_box .review_date{padding-bottom: 15px; color: #7b848d; font-size: 14px;}
.review_cont_box .review_info_wrap .review_s_img{width: 40px; height: 40px; border-radius: 10px; margin-right: 5px;}
.review_cont_box .review_info_wrap p{color: #7b848d; font-size: 14px; line-height: 150%;}
.review_cont_box .review_info_wrap .review_info{font-weight: 600;}
.review_cont_box .review_info_wrap .review_icon .icon_list{margin-top: 20px;}
.review_cont_box .review_info_wrap .review_icon .icon_list div{padding: 5px; margin-right: 5px; color: #ffffff; border-radius: 5px; font-size: 12px; line-height: 100%; letter-spacing: -0.6px;}
.review_cont_box .review_info_wrap .review_icon .icon_list div:last-child{margin-right: 0;}
.review_cont_box .review_info_wrap .review_icon .icon_list .best_icon{background: #7c40ce;}
.review_cont_box .review_info_wrap .review_icon .icon_list .hit_icon{background: #e62d7d;}
.review_cont_box .review_info_wrap .review_icon .icon_list .recom_icon{background: #54a5a5;}

/*inquiry*/
#inquiry{}
#inquiry .inquiry_list_wrap{width: 890px; /* height: 270px; */ padding: 75px 0; border-top: 1px solid #777777;}
.inquiry_list .inquiry_box{width: 375px; height: 100px; margin: 0 70px 70px 0;}
.inquiry_list .inquiry_box:nth-child(2n){margin-right: 0;}
.inquiry_list .inquiry_box:nth-child(3), #inquiry .inquiry_list .inquiry_box:nth-child(4){margin-bottom: 0;}
.inquiry_list .inquiry_box a{display: block;}
.inquiry_list .inquiry_box a .inquiry_img_bg{width: 100px; height: 100px; background: #eff1f5; border-radius: 50%;}
.inquiry_list .inquiry_box a .inquiry_img_bg:after{content: ''; display: block; width: 54px; height: 50px; float: left; background: url(../images/inquiry_icon.png) no-repeat 0 0;}
.inquiry_list .inquiry_box a .inquiry_1:after{margin: 28px 0 0 22px;}
.inquiry_list .inquiry_box a .inquiry_ask:after{width: 60px; margin: 24px 0 0 21px; background-position: -63px 0;}
.inquiry_list .inquiry_box a .inquiry_24:after{margin: 28px 0 0 22px; background-position: 0 -54px;}
.inquiry_list .inquiry_box a .inquiry_guide:after{margin: 28px 0 0 28px; background-position: -62px -54px;}
.inquiry_list .inquiry_box a .inquiry_cont_box{height: 68px; padding: 16px 0 16px 15px;}
.inquiry_list .inquiry_box a .inquiry_cont_box p{color: #222222; letter-spacing: -1.3px;}
.inquiry_list .inquiry_box a .inquiry_cont_box .inquiry_tit{padding-bottom: 10px; font-weight: 600; line-height: 100%;}
.inquiry_list .inquiry_box a .inquiry_cont_box .inquiry_text{font-weight: 400; line-height: 140%;}
#inquiry .inquiry_bn_list{position: relative; width: 457px; height: 420px; cursor: pointer;}
#inquiry .inquiry_bn_list>div{position: absolute; top: 0; left: 0; width: 347px; height: 340px; padding: 40px 55px; border: 1px solid #dfdfdf; border-radius: 10px;}
#inquiry .inquiry_bn_list>div.alt{display: none;}
#inquiry .app_down{/* display: none; */}
#inquiry .app_down>div{text-align: center;}
#inquiry .app_down .app_down_qr{margin-bottom: 20px;}
#inquiry .app_down .app_down_qr img{width: 150px; height: 150px;}
#inquiry .app_down .app_down_text{margin-bottom: 20px;}
#inquiry .app_down .app_down_text p{padding-bottom: 10px; color: #222222; font-size: 1.3em; font-weight: 600; letter-spacing: -0.4px;}
#inquiry .app_down .app_down_text .text{padding-bottom: 0; font-size: 1em; font-weight: 400;}
#inquiry .app_down .app_down_store a{display: block;}
#inquiry .app_down .app_down_store .google_play_img{margin-right: 15px;}
#inquiry .weather_bn{}
#inquiry .weather_bn div{color: #ffffff; text-align: center;}
#inquiry .weather_bn .tit_wrap{padding-top: 70px; margin-bottom: 20px; color: #ffffff; font-size: 1.1em; text-align: center; font-weight: 500; line-height: 100%; letter-spacing: -0.4px;}
#inquiry .weather_bn .tit_wrap .tit{margin-bottom: 0px; font-size: 1.3em; font-weight: 600;}
#inquiry .weather_bn .weather_icon_box{width: 200px; margin: 0 auto;}
#inquiry .weather_bn .weather_icon_box span{font-size: 16px; font-weight: 400;}
#inquiry .weather_bn .weather_icon_box span.now_date{padding-right: 5px;}
#inquiry .weather_bn .weather_icon_box .w_icon{width: 80px; height: 80px; margin-right: 10px;}
#inquiry .weather_bn .weather_icon_box .w_icon img{width: 80px; height: 80px;}
#inquiry .weather_bn .weather_icon_box .w_temp{font-size: 1.75em; font-weight: bold; line-height: 80px;}
#inquiry .weather_bn .w_city{margin-bottom: 20px;}
#inquiry .weather_bn .min_max_temp{width: 265px; margin: 0 auto 15px; font-size: 15px;}
#inquiry .weather_bn .min_max_temp .w_min{margin-right: 5px;}
#inquiry .weather_bn .min_max_temp .w_max{}
